<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<section class="s1">

  <div class="main-container">
    <div class="blue-white-bar">
      <button class="bcg-btn">
        <a routerLink="/white"
           (click)="whiteBtnClick()"
           [ngClass]="{'selected' : isWhite}">
          White
        </a>
      </button>

      <button class="bcg-btn">
        <a routerLink="/blue"
           (click)="blueBtnClick()"
           [ngClass]="{'selected' : !isWhite}"
        >Blue
        </a>
      </button>

    </div>

  </div>
  <router-outlet></router-outlet>

  <!--    <nav class="navbar navbar-default">-->
  <!--      <div class="container-fluid">-->
  <!--        <div class="collapse navbar-collapse">-->
  <!--          <ul class="blue-white-bar">-->
  <!--            <li routerLinkActive="active current"><a routerLink="/White" (click)="whiteBtnClick()">White</a></li>-->
  <!--            <li routerLinkActive="active current"><a routerLink="/Blue" (click)="blueBtnClick()">Blue</a></li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </nav>-->

  <!--    <div class="pic-and-txt">-->

  <!--      <div class="pic-dropdown">-->
  <!--        <select [(ngModel)]="chosenPic" (ngModelChange)="updateSelection()" class="pic-select">-->
  <!--          <option value="">Select picture</option>-->
  <!--          <option *ngFor="let pic of pictures" ngValue="{{pic.value}}">{{pic.name}}</option>-->
  <!--        </select>-->

  <!--      </div>-->


  <!--      <div class="text-box">-->
  <!--        <input type="text" #box (keyup)="getValue(box.value)" placeholder="Enter Text" name="username">-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="container">-->
  <!--      <div class="frame" [ngStyle]="{background:frameColor}">-->
  <!--        <div class="text-line">-->
  <!--          <h4>{{displayVal}}</h4>-->
  <!--        </div>-->
  <!--        <img src="{{picture}}" *ngIf="picture" class="container-img">-->
  <!--      </div>-->

  <!--    </div>-->
  <!--  </div>-->


</section>
</body>
</html>

